<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging"/>
  </configSections>
  <loggingConfiguration name="Logging Application Block" defaultCategory="TxtCategory" tracingEnabled="true" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="TxtLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="50" timeStampPattern="yyyy-MM-dd" fileName="Log\solution.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" traceOutputOptions="None" filter="All"/>
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}-Message: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter"/>
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="4" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Priority Filter"/>
    </logFilters>
    <categorySources>
      <add switchValue="All" name="TxtLogCategory">
        <listeners>
          <add name="TxtLogListener"/>
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events"/>
      <notProcessed switchValue="All" name="Unprocessed Category"/>
      <errors switchValue="All" name="Logging Errors &amp; Warnings"/>
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="LogCategory" value="TxtLogging"/>
    <add key="Interval" value="10000"/>
    <add key="ServiceName" value="SeaTcpService"/>
    <add key="adminAddress" value="253029804@qq.com"/>
    <add key="mailAddress" value="wangliguo@kingmile.com"/>
    <add key="FactoryBM" value="JJ2011"/>
    <add key="isTest" value="1"/>
    <add key="ConnectString" value="Data Source=118.178.228.206;Initial Catalog=XHTraceBack;User ID=sa;Password=J!Xshn8081" />
    <add key="FactoryConnectString" value="Data Source=42.96.208.177;Initial Catalog=JJ2011;User ID=sa;Password=J!Xshn8081" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>