body 
{
    width:100%; height:500px;  background-color:#ffa6ff;  text-align:center;

}
.search
{
    width:80%; height:12%; float:left; text-align:center; padding-left:100px
}
.searchcontent
{
     width:25%; height:100%; float:left; text-align:center;padding-top:15px; padding-right:15px
    }
.searchbutton
{
    text-align:center; float:left; margin:15px;
    }
    
    .gridView
{
    margin:auto;
    }

