<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" defaultCategory="TxtCategory" tracingEnabled="true" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add name="TxtLogListener" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.RollingFlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.RollingFlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging" rollFileExistsBehavior="Increment" rollInterval="Day" rollSizeKB="50" timeStampPattern="yyyy-MM-dd" fileName="Log\solution.log" header="----------------------------------------" footer="----------------------------------------" formatter="Text Formatter" traceOutputOptions="None" filter="All" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}-Message: {message}" type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Text Formatter" />
    </formatters>
    <logFilters>
      <add minimumPriority="0" maximumPriority="4" type="Microsoft.Practices.EnterpriseLibrary.Logging.Filters.PriorityFilter, Microsoft.Practices.EnterpriseLibrary.Logging" name="Priority Filter" />
    </logFilters>
    <categorySources>
      <add switchValue="All" name="TxtLogCategory">
        <listeners>
          <add name="TxtLogListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings" />
    </specialSources>
  </loggingConfiguration>
  <appSettings>
    <add key="LogCategory" value="TxtLogging" />
    <add key="ConnectString" value="Data Source=118.178.228.206;Initial Catalog=XHTraceBack;User ID=sa;Password=J!Xshn8081" />
    <add key="FactoryConnectString" value="Data Source=118.178.228.206;Initial Catalog=XHTraceBack;User ID=sa;Password=J!Xshn8081" />
    <add key="Seller" value="山东新华医疗器械股份有限公司" />
    <add key="ContactBH" value="KQ" />
    <add key="SignAddr" value="山东淄博" />
    <add key="Buyer" value="" />
    <add key="Quantity" value="企标" />
    <add key="ProvideGoods" value="" />
    <add key="FeeCharge" value="卖方负担运费。" />
    <add key="CheckStandard" value="" />
    <add key="Statements" value="" />
    <add key="Contact" value="《合同法》。" />
    <add key="Solve" value="友好 协商。" />
    <add key="SignMethod" value="签章" />
    <add key="AppointedItem" value="1、增值税票（√），普票（    ）。请将收货信息、开票信息、汇款信息回传至" />
    <add key="AppointedItem1" value="0533-3588673  。" />
    <add key="Liquor" value="" />
    <add key="Classify" value="" />
    <add key="SellerBottom" value="山东新华医疗器械股份有限公司" />
    <add key="BuyerBottom" value="山东新华医疗" />
    <add key="SellerAddr" value="" />
    <add key="BuyerAddr" value="" />
    <add key="SellerOperator" value="颉宏勇" />
    <add key="BuyerOperator" value="" />
    <add key="SellerTel" value="0533-3581573" />
    <add key="BuyerTel" value="" />
    <add key="SellerFax" value="" />
    <add key="BuyerFax" value="" />
    <add key="SellerBank" value="中国银行淄博人民公园支行" />
    <add key="BuyerBank" value="" />
    <add key="SellerAccount" value="244211260465" />
    <add key="BuyerAccount" value="" />
    <add key="SellerPostcodes" value="" />
    <add key="BuyerPostcodes" value="" />
  </appSettings>
  <!--
    有关 web.config 更改的说明，请参见 http://go.microsoft.com/fwlink/?LinkId=235367。

    可在 <httpRuntime> 标记上设置以下特性。
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <httpHandlers>
      <add path="Reserved.ReportViewerWebControl.axd" verb="*" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" validate="false" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.Build.Framework, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Numerics, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
        <add assembly="Microsoft.ReportViewer.Common, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845DCD8080CC91" />
      </assemblies>
      <buildProviders>
        <add extension=".rdlc" type="Microsoft.Reporting.RdlBuildProvider, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
      </buildProviders>
    </compilation>
    <pages enableEventValidation="false" validateRequest="false" controlRenderingCompatibilityVersion="4.0">
      <namespaces>
        <add namespace="D2012.Domain.Entities" />
        <add namespace="D2012.Common" />
        <add namespace="System.Data" />
      </namespaces>
    </pages>
    <httpRuntime maxRequestLength="20971510" requestValidationMode="2.0" executionTimeout="3600" />
    <identity impersonate="true" />
    <customErrors mode="Off" />
  </system.web>
  <system.webServer>
    <handlers>
      <add name="asyn2" path="*.asyn" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v2.0.50727\aspnet_isapi.dll" resourceType="Unspecified" preCondition="classicMode,runtimeVersionv2.0,bitness64" />
      <add name="roomchat" path="comet_broadcast.asyn" type="AsnyHandler" verb="POST,GET" />
      <add name="ReportViewerWebControlHandler" preCondition="integratedMode" verb="*" path="Reserved.ReportViewerWebControl.axd" type="Microsoft.Reporting.WebForms.HttpHandler, Microsoft.ReportViewer.WebForms, Version=12.0.0.0, Culture=neutral, PublicKeyToken=89845dcd8080cc91" />
    </handlers>
    <defaultDocument>
      <files>
        <add value="login.aspx" />
      </files>
    </defaultDocument>
    <security>
      <requestFiltering>
        <!-- Increased maxAllowedContentLength from default of 300MB. -->
        <requestLimits maxAllowedContentLength="2147483648" />
      </requestFiltering>
    </security>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>
</configuration>